[submodule "Scripts"]
	path = Scripts
	url = https://github.com/RaidcoreGG/RCGG-Scripts
[submodule "res/Locales"]
	path = res/Locales
	url = https://github.com/RaidcoreGG/Nexus-Translations
[submodule "thirdparty/Mumble"]
	path = thirdparty/Mumble
	url = https://github.com/RaidcoreGG/RCGG-lib-mumble-api
[submodule "thirdparty/ImAnimate"]
	path = thirdparty/ImAnimate
	url = https://github.com/RaidcoreGG/ImAnimate
[submodule "src/Engine/Clockwork"]
	path = thirdparty/Clockwork
	url = https://github.com/RaidcoreGG/Clockwork
[submodule "src/Util"]
	path = src/Util
	url = https://github.com/RaidcoreGG/cpp-utility
